=content_for :title, 'Stasheyboard - Admin Dashboard'
.row
  .eleven.columns.centered#content
    %h3 Admin Dashboard
    = render 'layouts/admin_services'
    #admin_links
      %li= link_to 'Add Server', '#'
      %li= link_to 'Add New Admin User', '#'