=content_for :title, 'Stasheyboard - Admin Dashboard'
.row
  .eleven.columns.centered#content
    %h3 Admin Dashboard
    = render 'layouts/admin_services'
    #admin_links
      %li= link_to 'Add Server', new_service_path
      %li= link_to 'Add New Admin User', new_admin_admin_path