/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

@mixin default_font {
	font: 1.3em "Open Sans";
}

/* VARIABLES */

$dark-grey: #E4E4E4;
$light-grey: rgb(247, 247, 247);

/* BASE STYLES */

html, body {
	background-color: $light-grey;
	@include default_font
}

p {
	@include default_font
}


/* HEADER */

#page_header {
	height: 70px;
	margin-bottom: 10px;
}

#page_header #logo_image { height: 40px;
	width: 54px;
	float: left;
	margin: 15px 0;}

#page_header #root_link {
	text-decoration: none;
	padding-top: 18px;
	font: 32px "Open Sans", arial, helvetica, verdana, sans-serif;
	font-weight: bold;
	color: black;
	a:hover {
		color: #525252;
	}
}
				
#page_header #email {
	float: right;
	margin-right: 15px;
	padding-top: 3px;
}

#root_link {
	padding-top: 12px;
	padding-left: 15px;
	float:left;
	a {
		color: black;
	}
}

#email {
	float: right;
	margin-top: 17px;
}


/* CONTENT SECTION */

#content {
	background-color: white;
	border: 1px solid $dark-grey;
	padding: 20px;
	position: relative;
	// width: 900px;

	table#account_portal {
		position: relative;
		width: 100%;
		border-collapse: separate;
		background-color: transparent;
		border-collapse: separate;
		border-spacing: 0;
		border-left: 1px solid $dark-grey;
		border-top: 1px solid $dark-grey;
		thead tr th {
			background-color: #EEE;	
			text-align: center;
			padding: 10px;
			border-bottom: 1px solid $dark-grey;
			border-right: 1px solid $dark-grey;
			font-weight: bold;
			font-size: 16px;
		}
		tr {
			font-size: 16px;
			vertical-align: baseline;
		}
	}

	table#account_portal {
		position: relative;
		width: 100%;
		border-collapse: separate;
		background-color: transparent;
		border-collapse: separate;
		border-spacing: 0;
		border-left: 1px solid $dark-grey;
		border-top: 1px solid $dark-grey;
		thead tr th {
			background-color: #EEE;	
			text-align: center;
			padding: 10px;
			border-bottom: 1px solid $dark-grey;
			border-right: 1px solid $dark-grey;
			font-weight: bold;
			font-size: 16px;
		}
		tr {
			font-size: 16px;
			vertical-align: baseline;
		}
	}

	table#services {
		text-align: center;
		border-collapse: separate;
		width: 100%;
		border-left: none;
		border-top: none;
		border-spacing: 0;
		background-color: transparent;
		// display: table;
		font-size: 1.5em;
	}

	.today {
		background: $dark-grey;
		text-align: center;
	}

	.time {
		width: 20%;
	}

	th {
		background-color: white;
		font-weight: bold;
		border-bottom: 1px solid $dark-grey;
		border-right: 1px solid $dark-grey;
	}

	td {
		text-align: center;
	}
}






/* FOOTER */

footer#page_footer {
	padding: 30px 10px 20px 0;
}


/* FORMS */

form {
	width: 300px;
}

div#sign_in {
	padding: 15px 0 10px 0;

}

#rss_feed {
	float: right;

}

