/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
 */


html, body {
	background: rgb(247, 247, 247);
}

#wrapper {
	width: 900px; min-height: 100%;
  height: auto !important; height: 100%;
  margin: 0 auto -3em;
}

#page_header {
	height: 70px; background: rgb(247, 247, 247);
}

#page_header #logo { height: 40px; width: 54px; float: left; margin: 15px 0;}

#page_header #root_link {
	text-decoration: none;
	font: 32px bold arial, helvetica, verdana, sans-serif;
	color: black;
}
				
#page_header #email .button-container {
	float: right;
	margin-right: 15px;
}



