/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require responsive-tables
 *= require_self
 *= require_tree .
 */

@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

@mixin default_font {
	font: 1.2em "Open Sans";
}

/* VARIABLES */

$dark-grey: #E4E4E4;
$light-grey: rgb(247, 247, 247);

/* BASE STYLES */

html, body {
	background-color: $light-grey;
	@include default_font
}

p {
	@include default_font
}


/* HEADER */

#page_header {
	height: 70px;
	margin-bottom: 10px;
	padding-top: 15px;
  #logo_image {
  	height: 40px;
		width: 54px;
		float: left;
	}
	#root_link {
		text-decoration: none;
		font: 32px "Open Sans", arial, helvetica, verdana, sans-serif;
		font-weight: bold;
		color: black;
		padding-left: 15px;
		float: left;
		a {
			color: black;
			&:hover {
				color: #525252;
			}
		}
	}
	#email {
		float: right;
		margin-right: 15px;
		padding-top: 8px;
	}
}
				

/* MESSAGES */

.alert, .notice {
	text-align: center;
	font-size: 16px;
	font-style: bold;
}

/* CONTENT SECTION */

#content {
	background-color: white;
	border: 1px solid $dark-grey;
	padding: 20px;
	position: relative;
	// width: 900px;

	table#account_portal {
		position: relative;
		width: 100%;
		border-collapse: separate;
		background-color: transparent;
		border-collapse: separate;
		border-spacing: 0;
		border-left: 1px solid $dark-grey;
		border-top: 1px solid $dark-grey;
		thead tr th {
			background-color: #EEE;	
			text-align: center;
			padding: 10px;
			border-bottom: 1px solid $dark-grey;
			border-right: 1px solid $dark-grey;
			font-weight: bold;
			font-size: 16px;
		}
		tr {
			font-size: 16px;
			vertical-align: baseline;
		}
	}


	table#services {
		text-align: center;
		border-collapse: separate;
		width: 100%;
		border-left: none;
		border-top: none;
		border-spacing: 0;
		background-color: transparent;
		font-size: 1.5em;
	}

	.today {
		background: $dark-grey;
		text-align: center;
	}

	.time {
		width: 20%;
	}

	th {
		background-color: white;
		font-weight: bold;
		border-bottom: 1px solid $dark-grey;
		border-right: 1px solid $dark-grey;
		// &:first-child {
		// 	border-right: none;
		// }
	}

	td {
		text-align: center;
	}
}


/* ADMIN DASHBOARD */

#admin_links {
	list-style: none;
}

#session_links {
	float: right;
	padding-top: 15px;
}

/* LEGEND DIV */

div.legend {
	border-bottom: 1px solid $dark-grey;
	ul {
		li {
			display: inline-block;
			list-style: none;		
			font-size: 85% !important;
			vertical-align: middle;
			padding: 0 1em 0 1em;
			img {
				vertical-align: middle;
				padding-right: 3px;
			}
		}
	}
	ul.show-for-small li {
		display: block;
		padding: 5px 0;
	}
}

/* SMALL CONTACT SECTION */

#links {
	padding-top: 15px;
}


/* FOOTER */

footer#page_footer {
	padding: 30px 0 20px 0;
	div.left {
		float: left;
		display: inline-block;
	}
	div.right {
		float: right;
		display: inline-block;
		img {
			padding: 0 2px 0 2px;
		}
		img#rails_logo {
			padding-top: 15px;
			vertical-align: middle;
		}
	}
}


/* FORMS */

form {
	width: 300px;
}

div#sign_in {
	padding: 15px 0 10px 0;

}


/* CONTACT LINKS */

#rss_feed {
	float: right;

}

#rss_small {
	margin: 0 auto;
	padding-top: 10px;
	p a img {
		padding-left: 8px;
		padding-top: 10px;
		vertical-align: baseline;
	}
}