.row
  .eight.columns.centered
    %div#links.show-for-small
      = link_to "Report an issue", href="mailto:help@stasheyboard.org", :class => "small round secondary button"
    %div#rss_small.show-for-small
      %p 
        Bleeding edge service updates:
        = link_to image_tag("feed-icon-14x14.png")
