%table#services
  %thead
    %tr
      %th Service
      %th{:class => "today"} Today
      - (1..6).each do |x|
        %th= "#{(Date.today - x).strftime("%a. %d")}"
  %tbody
    - @services.each do |service|
      %tr
        %td= link_to service.name, service



